<h1>About Me: Evo</h1>
<ul>
  <li>I do not have a cat or any other pets.</li>
  <li>I live in Brooklyn.</li>
  <li>I like games.</li>
</ul>

<p>About#index</p>
<p>Find me in app/views/about/index.html.erb</p>
